body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #121212;
    color: white;
}

.blog-title {
    text-align: center;
}

.blog-entry-action-btn {
    border: 0;
    color: white;
    padding: 0.8rem;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-left: 0.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog-entry-action-btn:hover {
    opacity: 0.6;
}

.add-btn {
    background-color: green;
}

.edit-btn {
    background-color: green;
}

.delete-btn {
    background-color: red;
}